# Database Configuration
DATABASE_URL=postgresql://coherent_user:K8KhUzx3lzoGKOSSPFknQ1hEhCrZJ7Qo@dpg-d81bc6v7f7vs73dfublg-a.oregon-postgres.render.com/coherent


# Scraping Configuration
MAX_PAGES=10
REQUEST_DELAY_MIN=2
REQUEST_DELAY_MAX=5
